.bg-punchy-gray {
    background-color: #EFF0F2;
}

.flex-gap-10 {
    gap: 10px;
}

.bg-punchy-yellow {
    background-color: #F3DF6B;
}

.bg-punchy-tan {
    background-color: #F9DAAD;
}

.bg-punchy-mustard {
 background-color: #FEFCEC;
}